.pt-bg-white {
  background-color:rgba(255, 255, 255, 1);
}

.pt-color-white {
  color:rgba(255, 255, 255, 1);
}

.pt-bg-white {
  background-color:rgba(255, 255, 255, 1);
}

.pt-bg-g {
  background-color:rgba(155, 155, 155, 1);
}

.pt-color-g {
  color:rgba(155, 155, 155, 1);
}

.pt-bg-vdg {
  background-color:rgba(74, 74, 74, 1);
}

.pt-color-vdg {
  color:rgba(74, 74, 74, 1);
}

.pt-bg-lg {
  background-color:rgba(234, 234, 234, 1);
}

.pt-color-lg {
  color:rgba(234, 234, 234, 1);
}

.pt-bg-purple {
  background-color:#1D3764;
}

.pt-color-purple {
  color:#1D3764;
}

